@use '../../globals' as *;

.page-header {
    position: sticky;
    transition: top 0.3s ease-in-out;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 48px;
    background-color: var(--background-primary);
    box-sizing: content-box;

    &.page-header__hidden {
        top: -48px;
    }
}

.page-header__items {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: $xl-breakpoint-1279) {
    .page-header__items {
        margin: 0 16px 0 24px;
    }
}

@media (max-width: $m-breakpoint-639) {
    .page-header__items {
        margin: 0 0 0 16px;
    }
}
