.page-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 48px;
    background-color: white;
    box-sizing: content-box;
}

.page-header__items {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1279px) {
    .page-header__items {
        margin: 0 16px 0 24px;
    }
}

@media (max-width: 639px) {
    .page-header__items {
        margin: 0 0 0 16px;
    }
}
