.content__wrapper {
    position: relative;
    display: flex;
    background: white;
    max-width: var(--max-items-width);
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    border-radius: 16px;

    padding-left: var(--side-margins-32);
    padding-right: var(--side-margins-32);
}

.page-auth__wrapper {
    background: #FF4D4F;
    max-width: 320px;
    box-sizing: border-box;
    padding: 32px 24px 24px 24px;
}

@media (max-width: 639px) {
    .content__wrapper {
        padding-left: var(--side-margins-24);
        padding-right: var(--side-margins-24);
    }
}

@media (max-width: 525px) {
    .content__wrapper {
        padding-left: var(--side-margins-16);
        padding-right: var(--side-margins-16);
    }
}
