.content-wrapper {
    position: relative;
    display: flex;
    background: white;
    max-width: var(--max-items-width);
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    border-radius: 16px;
}

.page-auth {
    background: #FF4D4F;
}
