.create-team-modal__content {
    padding: 32px 32px 40px 32px !important;

    .ant-modal-close {
        width: 24px;
        height: 24px;

        & svg {
            width: 24px;
            height: 24px;
        }
    }

    .ant-modal-footer {
        display: none;
    }

    .ant-form-item {
        margin: 0;
    }

    .ant-form-item:not(.ant-form-item:first-child) {
        margin-top: 16px;
    }

    .ant-modal-header {
        margin-bottom: 16px;
    }

    .ant-modal-title h2 {
        font-size: 32px;
    }

    .ant-modal-body {
        display: flex;
        flex-direction: column;
    }

    .create-team-content__span {
        font-size: 16px;
    }

    .create-team-content__span + .ant-form {
        padding-top: 8px;
    }
}

.ant-modal-root .ant-modal.create-team-modal {
    margin: 0;
    max-width: unset;
}
