@use "../../../globals" as *;

.create-team-modal__content {
    padding: 32px 32px 40px 32px !important;

    .custom-modal-header-large {
        margin-bottom: 16px;
    }
    .ant-form-item {
        margin: 0;
    }

    .ant-modal-title h2 {
        font-size: $medium-font-size;
    }

    .ant-modal-body {
        display: flex;
        flex-direction: column;
    }

    .create-team-content__span {
        font-size: 16px;
    }

    .create-team-content__span + .ant-form {
        padding-top: 8px;
    }
}

.ant-modal-root .ant-modal.create-team-modal {
    margin: 0;
    max-width: unset;
}
