.header-avatar__frame {
    cursor: pointer;
}

.header-avatar__dropdown {
    display: flex;
    flex: 50px;
    align-items: center;
    height: 48px;
    width: auto;
    padding: 0 8px;
    gap: 4px;
    transition: background-color .2s ease;
}

.header-avatar__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

.header-avatar__button:focus {
    border: none;
}

.header-avatar__image >img {
    user-select: none;
}

.header-dropdown_open {
    background-color: #E6F7FF;
    transition: background-color .2s ease;
}
