@use "../../../globals" as *;

.task-group__content-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
}

.task-group__task {
    display: flex;
    gap: 32px;
    border-top: 1px solid var(--stroke-secondary);
}

.task-group__collapse {
    .ant-collapse-item >.ant-collapse-header.task-group__name {
        align-items: center;
        padding: 0;
    }

    &.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
        padding: 0;
    }

    &.ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
        padding-block-end: 0;
    }

    .task-group__collapse-buttons {
        display: flex;
        gap: 8px;
    }
}

.task-group__collapse-buttons .ant-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    .anticon+span {
        margin-inline-start: 0;
    }
}

.ant-collapse-item .task-group__name.roboto-flex-header.closed-group {
    .ant-collapse-header-text {
        color: var(--text-green);
    }
}

.ant-collapse-item .green-check-circle {
    width: 24px;
    height: 24px;
    color: var(--icon-filled-green);
}

.closed-group__title {
    display: flex;
    gap: 8px;
    align-items: center;
}

.task-group__name {
    font-size: 32px;

    .ant-collapse-header-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .ant-collapse-arrow>svg {
        width: 24px;
        height: 24px;
    }

    .score {
        font-size: 16px;
        color: var(--text-green);
    }
}

.task-group-extra__burger-button.ant-btn {
    display: none;
}

.task-group-extra__burger-button span {
    color: var(--text-blue);
}

.task-group-extra__dropdown.ant-dropdown .ant-dropdown-menu{
    border-radius: 2px;

    .ant-dropdown-menu-title-content {
        display: flex;
        column-gap: 8px;
    }
}

@media (max-width: $l-breakpoint-959) {
    .task-group__collapse-buttons .ant-btn {
        gap: 8px;

        & span:not(.anticon) {
            display: none;
        }
    }
}

@media (max-width: $xm-breakpoint-799) {
    .task-group__name {
        font-size: 24px;
    }
}

@media (max-width: $s-breakpoint-525) {
    .task-group-extra__burger-button.ant-btn {
        display: unset;
    }

    .task-group__collapse-buttons .ant-btn:not(.task-group-extra__burger-button) {
        display: none;
    }
}
