.task-group__content-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
}

.task-group__task {
    display: flex;
    gap: 32px;
    border-top: 1px solid #D9D9D9;
}

.task-group__collapse {
    .ant-collapse-item >.ant-collapse-header.task-group__name {
        align-items: center;
        padding: 0;
    }

    &.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
        padding: 0;
    }

    &.ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
        padding-block-end: 0;
    }

    .task-group__collapse-buttons {
        display: flex;
        gap: 8px;
    }
}

.task-group__collapse-buttons .ant-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    .anticon+span {
        margin-inline-start: 0;
    }
}

.task-group__name {
    font-size: 32px;

    .ant-collapse-header-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .ant-collapse-arrow>svg {
        width: 24px;
        height: 24px;
    }
}

.task-group-extra__burger-button.ant-btn {
    display: none;
}

.task-group-extra__burger-button span {
    color: var(--primary-color);
}

.task-group-extra__dropdown.ant-dropdown .ant-dropdown-menu{
    border-radius: 2px;

    .ant-dropdown-menu-title-content {
        display: flex;
        column-gap: 8px;
    }
}

@media (max-width: 959px) {
    .task-group__collapse-buttons .ant-btn {
        gap: 8px;

        & span:not(.anticon) {
            display: none;
        }
    }
}

@media (max-width: 799px) {
    .task-group__name {
        font-size: 24px;
    }
}

@media (max-width: 525px) {
    .task-group-extra__burger-button.ant-btn {
        display: unset;
    }

    .task-group__collapse-buttons .ant-btn:not(.task-group-extra__burger-button) {
        display: none;
    }
}
