.ant-alert.ant-alert-info.ant-alert-with-description {
    padding: 9px 16px;
    margin: 16px 0 0;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.anticon.anticon-info-circle.ant-alert-icon {
    width: 18px;
    height: 18px;
}