@use "../../../../globals" as *;

.quest-preview__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;

    .quest-preview__information {
        display: flex;
        column-gap: 24px;
        row-gap: 4px;
        flex-wrap: wrap;
        color: var(--text-default);

        .information__block {
            display: flex;
            gap: 8px;
        }
    }

    .quest-preview__about {
        color: var(--text-default);
    }
}

.quest-preview__wrapper p {
    margin: 0;
}

.quest-preview__information .information__block img {
    align-self: center;
}

.quest-preview_default {
    height: 100%;
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quest-preview_default p {
    margin: 0;
    width: 168px;
    text-align: center;
}

.quest-image__container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 16px;
}

.quest-image__image {
    color: transparent;
    max-width: 100%;
    object-fit: contain;
    height: auto;
}

@media (max-width: $s-breakpoint-525) {
    .quest-preview__wrapper {
        .quest-preview__information {
            flex-direction: column;
        }
    }
}
