.create-quest__content-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 32px;

    .create-quest__body__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }

    section {
        width: calc((100% - 65px) / 2);
    }

    .content__separator {
        min-width: 1px;
        height: auto;
        background-color: #BFBFBF;
    }
}

.create-quest__header__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ant-btn.main-menu__button {
    color: var(--primary-color);
    display: flex;
    border: none;
    padding: 4px 15px 4px 0;
    gap: 10px;
    width: min-content;
    align-items: center;

    &.ant-btn >.anticon+span {
        margin-inline-start: 0;
    }

    &.ant-btn > span {
        display: inline-flex;
    }
}

@media (max-width: 639px) {
    .create-quest__content-wrapper {
        gap: 16px;
    }
}
