.content__wrapper.leaderboard__content-wrapper {
    max-width: 100vw;
    padding: 0;
    background-color: transparent;
}

.leaderboard__wrapper {
    max-width: 100%;

    .ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container {
        border-inline-start: none;
        border-top: none;
    }
}

.ant-table-wrapper .ant-table-tbody>tr>td.ant-table-cell.leaderboard__penalty {
padding: 16px 32px 16px 16px;
}

.leaderboard__edit-penalty {
    font-size: 16px;
    background: transparent;
    border: none;
    position: absolute;
    top: calc(50% - 8px);
    right: 8px;
    opacity: 0.45;
    padding: 0 0 0 8px;
    display: inline-flex;
    cursor: pointer;

    svg {
        fill: var(--text-default);
    }

    &:hover {
        opacity: 1;
    }
}

.edit-penalty__description {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 16px;

    .team-name {
        color: var(--text-default);
    }
}

