.content__wrapper.leaderboard__content-wrapper {
    max-width: 100vw;
    padding: 0;
    background-color: transparent;
}

.leaderboard__wrapper {
    max-width: 100%;
}

.leaderboard__table.ant-table-wrapper {
    .ant-table {
        color: var(--base-text-color);
    }

    .ant-table-thead >tr>th {
        color: var(--base-text-color);
    }
}

td.ant-table-cell.leaderboard__penalty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
}

.leaderboard__edit-penalty {
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    opacity: .45;
    padding: 0;
    margin-right: -8px;
    display: inline-flex;
    cursor: pointer;

    svg {
        fill: var(--base-text-color);
    }

    &:hover {
        opacity: 1;
    }
}

.edit-penalty__description {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 16px;

    .light-description {
        color: var(--base-text-color);
        opacity: .45;
        margin: 0;
    }
}

