.page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: 0;
    gap: 16px;
    flex-grow: 1;

    .ant-spin {
        display: flex;
        width: 100vw;
        height: auto;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }
}
