.ant-btn.edit-profile__button {
    display: flex;
    align-items: center;
    gap: 10px;

    &.ant-btn >.anticon+span {
        margin-inline-start: 0;
    }
}

.edit-profile__modal, .img-crop-modal {
    .ant-modal-content {
        padding: 32px 32px 40px 32px !important;

        .ant-modal-close {
            width: 24px;
            height: 24px;

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.edit-name__modal, .edit-password__modal {
    &.ant-modal .ant-modal-footer {
        display: none;
    }

    .ant-form-item {
        margin: 0;
    }

    .ant-form-item:not(.ant-form-item:first-child) {
        margin-top: 16px;
    }
}

.img-crop-modal {
    .ant-modal-header {
        display: none;
    }

    .ant-modal-body {
        margin-top: 24px;
    }
}

.edit-profile__avatar {
    display: flex;
    flex-direction: column;
    width: min-content;

    .ant-upload-wrapper .ant-upload-select {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.edit-profile-header {
    margin: 0 0 24px;

    &.responsive-header-h2 {
        font-size: 32px;
    }
}

.edit-profile-subheader {
    padding: 16px 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.edit-profile-paragraph {
    margin: 0;
}

.edit-profile__change-button {
    &.ant-btn {
        padding: 0;
    }

    span {
        color: var(--primary-color);
    }
}

@media (max-width: 639px) {
    .ant-modal-root .ant-modal.edit-profile__modal {
        margin: 0;
        max-width: unset;
    }

    .edit-profile-header.responsive-header-h2 {
        font-size: 24px;
    }
}
