@use "../../../globals" as *;

.ant-btn.edit-profile__button {
    display: flex;
    align-items: center;
    gap: 10px;

    &.ant-btn >.anticon+span {
        margin-inline-start: 0;
    }
}

.img-crop-modal {
    .ant-modal-header {
        display: none;
    }

    .ant-modal-body {
        margin-top: 24px;
    }
}

.edit-profile__avatar {
    display: flex;
    flex-direction: column;
    width: min-content;

    .ant-upload-wrapper .ant-upload-select {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.edit-profile-header {
    margin: 0 0 24px;

    &.responsive-header-h2 {
        font-size: 32px;
    }
}

.edit-profile-subheader {
    padding: 16px 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.edit-profile-paragraph {
    margin: 0;
}

.edit-profile__change-button {
    &.ant-btn {
        padding: 0;
    }

    span {
        color: var(--text-blue);
    }
}

@media (max-width: $m-breakpoint-639) {
    .ant-modal-root .ant-modal.edit-profile__modal {
        margin: 0;
        max-width: unset;
    }

    .edit-profile-header.responsive-header-h2 {
        font-size: 24px;
    }
}
