// black & white
$white: #FFFFFF;
$cultured: #F5F5F5;
$light-silver: #D9D9D9;
$argent: #BFBFBF;
$philippine_gray: #8C8C8C;
$outer-space: #454545;
$eerie-black: #1F1F1F;
$black: #000000;

$red-orange-crayola: #FF4D4F;
$kelly-green: #52C41A;
$raisin-black: #262626;
$anti-flash-white: #F0F0F0;

// status color
$dodger-blue: #1890FF;
$blue-violet: #722ED1;
$slimy-green: #389E0D;
$harvest-gold: #D48806;
$arsenic: #434343;
