$cultured: #F5F5F5;
$red-orange-crayola: #FF4D4F;
$kelly_green: #52C41A;
$raisin_black: #262626;
$eerie_black: #1F1F1F;
$anti-flash-white: #F0F0F0;

// status color
$dodger-blue: #1890FF;
$blue-violet: #722ED1;
$slimy-green: #389E0D;
$harvest-gold: #D48806;
$arsenic: #434343;
