@use 'colors' as *;

//html[data-theme="dark"] {
//  --background-color: #111;
//  --quit-color: #{$red-orange-crayola};
//  --green-color: #{$kelly-green};
//  --primary-color: #{lighten($dodger-blue, 20%)};
//  --base-text-color: #{lighten($raisin-black, 50%)};
//  --secondary-text-color: #{lighten($raisin-black, 50%)};
//  --tertiary-text-color: #{$arsenic};
//  --task-background-color: #{$anti-flash-white};
//  --cw-background-color: #333;
//}

html[data-theme="light"] {
  --background-color: #{$cultured};
  --quit-color: #{$red-orange-crayola};
  --green-color: #{$kelly-green};
  --primary-color: #{$dodger-blue};
  --base-text-color: #{$raisin-black};
  --secondary-text-color: #{$eerie-black};
  --tertiary-text-color: #{$arsenic};
  --task-background-color: #{$anti-flash-white};
  --cw-background-color: #{$white};
}
