.profile__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 24px 0;
    gap: 32px;
}

.profile-information {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.profile-greetings {
    margin: 0;
    word-break: break-word;
    -ms-word-wrap: break-word;
}

.profile-information__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.avatar__image >img {
    user-select: none;
}

@media (max-width: 639px) {
    .avatar__image {
        width: 96px;
        height: 96px;
    }

    .profile__wrapper {
        flex-direction: column;
        gap: 8px;
    }
}

@media (max-width: 525px) {
    .profile__wrapper {

    }
}
