.profile__content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 24px 0;
    gap: 32px;
}

.profile-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    & h1 {
        word-break: break-word;
    }
}

.profile-information__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.avatar__image {
    user-select: none;
}

@media (max-width: 639px) {
    .avatar__image {
        width: 96px;
        height: 96px;
    }

    .profile__content-wrapper {
        flex-direction: column;
        gap: 8px;
    }
}
