@use '../../globals' as *;

html {
    /* backgrounds */
    --background-default: #{$cultured};
    --background-primary: #{$white};
    --background-secondary: #{$anti-flash-white};
    --background-disabled: #{$cultured};
    --background-red: #{$deep-carmine-pink};
    --background-green: #{$kelly-green};
    --background-blue: #{$dodger-blue};
    --background-blue-secondary: #{$bubbles};
    --background-yellow: #{$dark-tangerine};

    /* strokes */
    --stroke-primary: #{$dark-charcoal};
    --stroke-secondary: #{$light-silver};
    --stroke-blue: #{$pale-cyan};

    /* texts */
    --text-default: #{$eerie-black};
    --text-primary: #{$white};
    --text-secondary: #{$granite-gray};
    --text-disabled: #{$philippine-gray};
    --text-red: #{$lava};
    --text-green: #{$slimy-green};
    --text-blue: #{$dodger-blue};
    --text-yellow: #{$dark-tangerine};
    --text-purple: #{$american-violet};

    /* filled icons */
    --icon-filled-default: #{$eerie-black};
    --icon-filled-primary: #{$white};
    --icon-filled-secondary: #{$granite-gray};
    --icon-filled-disabled: #{$philippine-gray};
    --icon-filled-red: #{$deep-carmine-pink};
    --icon-filled-green: #{$kelly-green};
    --icon-filled-blue: #{$dodger-blue};
    --icon-filled-yellow: #{$dark-tangerine};
    --icon-filled-purple: #{$blue-violet};

    /* outlined icons */
    --icon-outlined-default: #{$eerie-black};
    --icon-outlined-primary: #{$white};
    --icon-outlined-secondary: #{$granite-gray};
    --icon-outlined-disabled: #{$philippine-gray};
    --icon-outlined-red: #{$lava};
    --icon-outlined-green: #{$slimy-green};
    --icon-outlined-blue: #{$dodger-blue};
    --icon-outlined-yellow: #{$dark-tangerine};
    --icon-outlined-purple: #{$american-violet};
}

html,
body {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    font-family: $font-manrope;
    color: var(--text-default);
}

.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--background-default);
    width: 100%;
    min-height: 100%;
    gap: $main-gap;
}

.roboto-flex-header {
    margin: 0;
    color: var(--text-default);
    line-height: 95.2%;
    letter-spacing: -.01em;
    font-family: $font-robotoflex;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    overflow-wrap: break-word;
    font-variation-settings:
            "slnt" 0,
            "wdth" 151,
            "GRAD" 0,
            "XOPQ" 96,
            "XTRA" 468,
            "YOPQ" 100,
            "YTAS" 750,
            "YTDE" -203,
            "YTFI" 738,
            "YTLC" 514,
            "YTUC" 712;
}

.page__not-found, .page__invites-error {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .roboto-flex-header {
        color: var(--text-blue);
        font-size: 107px;
    }
}

.ant-btn.return__button {
    color: var(--text-blue);
    display: flex;
    border: none;
    padding: 4px 15px 4px 0;
    gap: 10px;
    width: min-content;
    max-width: 100%;
    align-items: center;

    &.ant-btn >.anticon+span {
        margin-inline-start: 0;
    }

    &.ant-btn > span {
        display: inline-flex;
    }

    &.ant-btn > span:not(.anticon) {
        display: inline-block;
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

h1 {
    font-size: $medium-font-size;

    &.responsive-header-h1 {
        font-size: $large-font-size;
    }
}

h2 {
    font-size: $small-font-size;

    &.responsive-header-h2 {
        font-size: $medium-font-size;
    }
}

h3 {
    font-size: 20px;
}

.quest-header__status_registration {
    @include status-color('blue');
}

.quest-header__status_registration-done {
    @include status-color('purple');
}

.quest-header__status_running {
    @include status-color('green');
}

.quest-header__status_wait-results {
    @include status-color('yellow');
}

.quest-header__status_finished {
    @include status-color('disabled');
}

.confirm-delete__modal.ant-modal {
    .ant-modal-content {
        border-radius: 2px;
    }

    .ant-modal-confirm-title {
        font-weight: 500;
        color: var(--text-default);
    }

    .ant-modal-confirm-btns {
        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
    }

    .ant-modal-confirm-btns .ant-btn+.ant-btn {
        margin-inline-start: 0;
    }

    svg {
        fill: var(--icon-outlined-yellow);
    }
}

body:has(.page__not-found) {
    .page-header, .page-footer__wrapper {
        display: none;
    }
}

body:has(.ant-modal-root) {
    .App {
        position: absolute;
    }
}

@media (max-width: $xl-breakpoint-1279) {
    h1 {
        &.responsive-header-h1 {
            font-size: $medium-font-size;
        }
    }

    h2 {
        &.responsive-header-h2 {
            font-size: $small-font-size;
        }
    }
}


