@use '../../globals' as *;

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    --background-color: #{$cultured};
    --quit-color: #{$red-orange-crayola};
    --green-color: #{$kelly_green};
    --primary-color: #{$dodger-blue};
    --base-text-color: #{$raisin_black};
    --secondary-text-color: #{$eerie_black};
    --tertiary-text-color: #{$arsenic};
    --task-background-color: #{$anti-flash-white};
}

html,
body {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    font-family: $font-manrope;
    color: #262626;
}

.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    width: 100%;
    min-height: 100%;
    gap: $main-gap;
}

.roboto-flex-header {
    margin: 0;
    color: var(--base-text-color);
    line-height: 95.2%;
    letter-spacing: -.01em;
    font-family: $font-robotoflex;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    overflow-wrap: break-word;
    font-variation-settings:
            "slnt" 0,
            "wdth" 151,
            "GRAD" 0,
            "XOPQ" 96,
            "XTRA" 468,
            "YOPQ" 100,
            "YTAS" 750,
            "YTDE" -203,
            "YTFI" 738,
            "YTLC" 514,
            "YTUC" 712;
}

.page__not-found, .page__invites-error {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .roboto-flex-header {
        color: var(--primary-color);
        font-size: 107px;
    }
}

.ant-btn.return__button {
    color: var(--primary-color);
    display: flex;
    border: none;
    padding: 4px 15px 4px 0;
    gap: 10px;
    width: min-content;
    max-width: 100%;
    align-items: center;

    &.ant-btn >.anticon+span {
        margin-inline-start: 0;
    }

    &.ant-btn > span {
        display: inline-flex;
    }

    &.ant-btn > span:not(.anticon) {
        display: inline-block;
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

h1 {
    font-size: $medium-font-size;

    &.responsive-header-h1 {
        font-size: $large-font-size;
    }
}

h2 {
    font-size: $small-font-size;

    &.responsive-header-h2 {
        font-size: $medium-font-size;
    }
}

h3 {
    font-size: 20px;
}

.quest-header__status_registration {
    color: $status-color-registration;

    & circle {
        fill: $status-color-registration;
    }
}

.quest-header__status_registration-done {
    color: $status-color-registration-done;

    & circle {
        fill: $status-color-registration-done;
    }
}

.quest-header__status_running {
    color: $status-color-running;

    & circle {
        fill: $status-color-running;
    }
}

.quest-header__status_wait-results {
    color: $status-color-wait-results;

    & circle {
        fill: $status-color-wait-results;
    }
}

.quest-header__status_finished {
    color: $status-color-finished;

    & circle {
        fill: $status-color-finished;
    }
}

.confirm-delete__modal.ant-modal {
    .ant-modal-content {
        border-radius: 2px;
    }

    .ant-modal-confirm-title {
        font-weight: 500;
        color: var(--base-text-color);
    }

    .ant-btn-default:not(:disabled):hover {
        color: var(--quit-color);
        border-color: var(--quit-color);
    }

    .ant-btn-default:not(:disabled):active {
        color: var(--quit-color);
        border-color: var(--quit-color);
    }

    .ant-modal-confirm-btns {
        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
    }

    .ant-modal-confirm-btns .ant-btn+.ant-btn {
        margin-inline-start: 0;
    }
}

body:has(.page__not-found) {
    .page-header, .page-footer__wrapper {
        display: none;
    }
}

@media (max-width: $xl-breakpoint-1279) {
    h1 {
        &.responsive-header-h1 {
            font-size: $medium-font-size;
        }
    }

    h2 {
        &.responsive-header-h2 {
            font-size: $small-font-size;
        }
    }
}


