:root {
    --background-color: #F5F5F5;
    --quit-color: #FF4D4F;
    --side-margins-16: 16px;
    --side-margins-24: 24px;
    --side-margins-32: 32px;
    --main-gap: 16px;
    --max-items-width: 1250px;

    /* fonts */
    --large-font-size: 48px;
    --medium-font-size: 32px;
    --small-font-size: 24px;

}

* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--font-manrope);
}

.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    width: 100%;
    min-height: 100%;
    gap: var(--main-gap);
}

h1, h2, h3, h4 {
    font-family: var(--font-roboto-flex);
    font-weight: 700;
}

h1 {
    font-size: var(--large-font-size);
}

h2 {
    font-size: var(--medium-font-size);
}

@media (max-width: 1279px) {
    h1 {
        font-size: var(--medium-font-size);
    }

    h2 {
        font-size: var(--small-font-size);
    }
}
