:root {
    --background-color: #F5F5F5;
    --quit-color: #FF4D4F;
    --green-color: #52C41A;
    --primary-color: #1890FF;
    --base-text-color: #262626;
    --secondary-text-color: #1F1F1F;
    --tertiary-text-color: #434343;
    --task-background-color: #F0F0F0;
    --side-margins-16: 16px;
    --side-margins-24: 24px;
    --side-margins-32: 32px;
    --main-gap: 16px;
    --max-items-width: 1250px;

    /* fonts */
    --large-font-size: 48px;
    --medium-font-size: 32px;
    --small-font-size: 24px;

    /* columns */
    --grid-column-640: 1fr 1fr;
    --grid-column-960: 1fr 1fr 1fr;
    --grid-column-1280: 1fr 1fr 1fr 1fr;

    /* status color */
    --status-color-registration: #1890FF;
    --status-color-registration-done: #722ED1;
    --status-color-running: #389E0D;
    --status-color-wait-results: #D48806;
    --status-color-finished: #434343;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--font-manrope);
    color: #262626;
}

.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    width: 100%;
    min-height: 100%;
    gap: var(--main-gap);
}

.roboto-flex-header {
    margin: 0;
    color: var(--base-text-color);
    line-height: 95.2%;
    letter-spacing: -.01em;
    font-family: var(--font-robotoflex);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    user-select: none;
    overflow-wrap: break-word;
    font-variation-settings:
            "slnt" 0,
            "wdth" 151,
            "GRAD" 0,
            "XOPQ" 96,
            "XTRA" 468,
            "YOPQ" 100,
            "YTAS" 750,
            "YTDE" -203,
            "YTFI" 738,
            "YTLC" 514,
            "YTUC" 712;
}

.page__not-found, .page__invites-error {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content__wrapper.not-found__content-wrapper, .content__wrapper.invites-error__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px 24px;
    gap: 20px;
    width: 378px;

    background: #FFFFFF;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.04);
    border-radius: 16px;

    p {
        font-size: 24px;
        margin: 0;
    }
}

.content__wrapper.invites-error__content-wrapper {
    .roboto-flex-header {
        font-size: 107px;
  }
}

.ant-btn.return__button {
    color: var(--primary-color);
    display: flex;
    border: none;
    padding: 4px 15px 4px 0;
    gap: 10px;
    width: min-content;
    max-width: 100%;
    align-items: center;

    &.ant-btn >.anticon+span {
        margin-inline-start: 0;
    }

    &.ant-btn > span {
        display: inline-flex;
    }

    &.ant-btn > span:not(.anticon) {
        display: inline-block;
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

h1 {
    font-size: var(--medium-font-size);

    &.responsive-header-h1 {
        font-size: var(--large-font-size);
    }
}

h2 {
    font-size: var(--small-font-size);

    &.responsive-header-h2 {
        font-size: var(--medium-font-size);
    }
}

h3 {
    font-size: 20px;
}

.quest-header__status_registration {
    color: var(--status-color-registration);

    & circle {
        fill: var(--status-color-registration);
    }
}

.quest-header__status_registration-done {
    color: var(--status-color-registration-done);

    & circle {
        fill: var(--status-color-registration-done);
    }
}

.quest-header__status_running {
    color: var(--status-color-running);

    & circle {
        fill: var(--status-color-running);
    }
}

.quest-header__status_wait-results {
    color: var(--status-color-wait-results);

    & circle {
        fill: var(--status-color-wait-results);
    }
}

.quest-header__status_finished {
    color: var(--status-color-finished);

    & circle {
        fill: var(--status-color-finished);
    }
}

.confirm-delete__modal.ant-modal {
    .ant-modal-content {
        border-radius: 2px;
    }

    .ant-modal-confirm-title {
        font-weight: 500;
        color: var(--base-text-color);
    }

    .ant-btn-default:not(:disabled):hover {
        color: var(--quit-color);
        border-color: var(--quit-color);
    }

    .ant-btn-default:not(:disabled):active {
        color: var(--quit-color);
        border-color: var(--quit-color);
    }

    .ant-modal-confirm-btns {
        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
    }

    .ant-modal-confirm-btns .ant-btn+.ant-btn {
        margin-inline-start: 0;
    }
}

@media (max-width: 1279px) {
    h1 {
        &.responsive-header-h1 {
            font-size: var(--medium-font-size);
        }
    }

    h2 {
        &.responsive-header-h2 {
            font-size: var(--small-font-size);
        }
    }
}

@media (max-width: 525px) {
    .content__wrapper.not-found__content-wrapper, .content__wrapper.invites-error__content-wrapper {
        width: 320px;

        p {
            font-size: 20px;
        }
    }

    .content__wrapper.invites-error__content-wrapper {
        .roboto-flex-header {
            font-size: 90px;
        }
    }
}
