.task__wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0 16px;
    gap: 16px;
    border-top: 1px solid #D9D9D9;
}

.task__text-part {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .task__name {
        font-size: 24px;
    }

    .task__question {
        margin: 0;
    }
}

.task-image__container {
    display: flex;
    background-color: var(--task-background-color);
    max-height: 300px;
    justify-content: center;
    border-radius: 8px;
}

.task-hints__container {
    display: flex;
    justify-content: flex-start;
    gap: calc((100% - 230px*3)/2);
}

.task-hint__container {
    display: flex;
    flex-direction: column;
    min-height: 148px;
    width: 230px;
    background-color: var(--task-background-color);
    border-radius: 8px;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;

    .hint__title {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 799px) {
    .task__text-part .task__name {
        font-size: 18px;
    }

    .task-hints__container {
        flex-direction: column;
        gap: 16px;
    }

    .task-hint__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 88px;
        width: auto;
        padding: 16px;

        .hint__title {
            text-align: start;
        }
    }
}

@media (max-width: 525px) {
    .task-hint__container {
        min-height: 120px;
    }

}
