@use "../../../globals" as *;

.task__wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0 16px;
    gap: 16px;
}

.task__text-part {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .task__name {
        font-size: 24px;
        word-break: break-word;
        display: flex;
        justify-content: space-between;
    }

    .task__name.task__accepted {
        color: var(--text-green);
    }

    .task__reward, .task__reward-accepted {
        font-size: 16px;
        font-family: $font-manrope;
        font-weight: 400;
        line-height: 24px;
    }
    
    .task__reward-accepted {
        color: var(--text-green);
    }

    .task__question {
        font-size: 16px;
        margin: 0;
    }

    .task__question.line-break {
        overflow-wrap: anywhere;
    }

    .task__question p {
        margin: 0;
    }

    .task__question a:not(a:visited) {
        color: var(--text-blue);
    }
}

.task-image__container {
    display: flex;
    background-color: var(--background-secondary);
    max-height: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;

    & img {
        max-width: 100%;
        object-fit: contain;
        width: auto;
    }
}

.task-hints__container {
    display: flex;
    justify-content: flex-start;
    gap: calc((100% - 230px*3)/2);
}

.task-hint__container {
    display: flex;
    flex-direction: column;
    min-height: 148px;
    width: 230px;
    background-color: var(--background-secondary);
    border-radius: 8px;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;

    .hint__title {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }

    .hint__text {
        font-size: 16px;

        &.line-break {
            overflow-wrap: anywhere;
        }
    }

    & span {
        line-height: normal;
    }
}

.task-hint__container_confirm {
    background-color: var(--background-primary);
    border: 1px solid var(--stroke-secondary);
    column-gap: 0;
    row-gap: 12px;
    padding: 16px;

    .hint__text-part {
        display: flex;
        flex-direction: column;
    }

    .hint__text {
        text-align: center;
    }

    .hint__confirm-buttons {
        display: flex;
        column-gap: 8px;
        justify-content: center;
    }

    .hint__confirm-buttons button {
        flex: auto;
    }
}

.task-hint__container_taken {
    background-color: var(--background-primary);
    border: 1px solid var(--stroke-secondary);
    padding: 16px;
    justify-content: flex-start;

    .hint__title {
        text-align: left;
        line-height: 24px;
    }

    .hint__text p {
        margin: 0;
    }

    .hint__text a:not(a:visited) {
        color: var(--text-blue);
    }
}

.task__answer-part.ant-form {
    max-width: 350px;
    column-gap: 4px;
    flex-wrap: nowrap;

    .ant-form-item {
        margin-inline-end: unset;
    }

    .ant-input-status-success {
        color: var(--text-green);
    }
}

.task__answer-part.ant-form .ant-form-item:first-child {
    flex-grow: 1;
    flex-shrink: 1;
}

.task__answer-part.ant-form .ant-form-item:last-child .ant-form-item-control-input-content {
    flex: none;
}

.admin-page__content {
    .task-hints__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: unset;
        gap: 24px;
    }

    .task-hint__container {
        width: auto;
        flex-grow: 1;
    }
}

.task__edit-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px 4px;
    padding-top: 24px;
}

.task-extra_small {
    display: none;
    padding: 0;
}

@media (max-width: 959px) {
    .admin-page__content {
        .task__text-part .task__name {
            font-size: 18px;
        }

        .task-hints__container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .task-hint__container:not(.task-hint__container_taken) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-height: 88px;
            width: auto;
            padding: 16px;

            .hint__title {
                text-align: start;
            }
        }
    }
}

@media (max-width: 799px) {
    .task__text-part .task__name {
        font-size: 18px;
    }

    .task-hints__container {
        flex-direction: column;
        gap: 16px;
    }

    .task-hint__container {
        min-height: 88px;
        justify-content: space-between;
        align-items: center;
        width: auto;
        padding: 16px;

        .hint__title {
            text-align: start;
        }

        &:not(.task-hint__container_taken) {
            flex-direction: row;
        }
    }

    .task-hint__container_taken {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width: 525px) {
    .task__name {
        flex-direction: column;
        gap: 8px;
    }

    .task-hint__container {
        min-height: 120px;
    }

    .task-extra_small {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .ant-btn {
            flex-grow: 1;
        }
    }

    .task-extra_large {
        display: none;
    }
}

@media (max-width: 374px) {
    .task__answer-part.ant-form {
    }
}
