@use "../../../globals" as *;

.invite-modal__content {
    padding: 32px 32px 40px 32px !important;

    .ant-input-suffix {
        color: #d9d9d9;
        transition-behavior: normal;
        transition-delay: 0s;
        transition-duration: 0.2s;
        transition-property: all;
        transition-timing-function: ease;
    }

    .ant-input-affix-wrapper-readonly {
        &:hover, &:focus, &:focus-within {
            .ant-input-suffix {
                color: var(--primary-color);
            }
        }
    }

    .ant-modal-close {
        width: 24px;
        height: 24px;

        & svg {
            width: 24px;
            height: 24px;
        }
    }

    .ant-modal-footer {
        display: none;
    }

    .ant-form-item {
        margin: 0;
    }

    .ant-form-item:not(.ant-form-item:first-child) {
        margin-top: 16px;
    }

    .ant-modal-header {
        margin-bottom: 16px;
    }

    .ant-modal-title h2 {
        font-size: 32px;
    }

    .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .invite-content__span {
        font-size: 16px;
    }
}

.ant-modal-root .ant-modal.invite-modal {
    margin: 0;
    max-width: unset;

    .roboto-flex-header {
        color: var(--green-color);
    }
}
