@use "../components/component-dir";

*:focus-visible {
  outline: 4px solid #91d5ff;
  transition: outline-offset 0s, outline 0s;
  border-radius: 2px;
  outline-offset: 1px;
  opacity: unset;
}

.off-screen {
  position: absolute;
  left: -99999rem;
}

