@use "../components/component-dir";
@use '../globals' as *;

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: 4px solid #91d5ff;
  transition: outline-offset 0s, outline 0s;
  border-radius: 2px;
  outline-offset: 1px;
  opacity: unset;
}

.off-screen {
  position: absolute;
  left: -99999rem;
}

.ant-btn.ant-btn-default.ant-btn-dangerous {
  border-color: var(--stroke-secondary);
}

.light-description {
  color: var(--text-secondary);
  margin: 0;
}

.line-break {
  white-space: pre-wrap;
  user-select: text;
  overflow-wrap: break-word;
}

.ant-radio-wrapper .ant-radio {
  --ant-radio-radio-color: var(--text-blue);

   .ant-radio-inner {
    background-color: transparent;
    border-color: var(--stroke-secondary);

  }

  &.ant-radio-checked .ant-radio-inner {
    background-color: transparent;
    border-color: var(--text-blue);
  }
}
