.page-auth {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: content-box;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content__wrapper.page-auth__content-wrapper {
    flex-direction: column;
    max-width: 320px;
    width: 320px;
    box-sizing: border-box;
    padding: 32px 24px 24px 24px;

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 0s 600000s, color 0s 600000s !important;
    }
}

.auth-form__header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    user-select: none;
}

.auth-form__title {
    margin: 0;
}

.auth-form__body {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:first-of-type {
        padding-top: 24px;
    }

    .error-message_unauthorized {
        color: var(--quit-color);
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        line-height: 14px;
    }

    .ant-form-item:first-of-type {
        padding-top: 8px;
    }

    .error-message_unauthorized + .ant-form-item {
        padding: 0;
    }

    .ant-form-item {
        margin: 0;

        &.auth-form__submit-button {
            padding: 4px 0 0;
        }

        &.auth-form__google-button {
            padding: 16px 0 0;

            .ant-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .anticon+span {
                    margin-inline-start: 0;
                }
            }
        }
    }

    .ant-input-affix-wrapper {
        border-radius: 2px;

        svg {
            fill: var(--base-text-color);
        }
    }

    .ant-input-status-error {
        svg {
            fill: var(--base-text-color);
        }
    }
}

.ant-btn.page-auth__change-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
}
