.page-auth {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: content-box;
}

.page-auth__content-wrapper {
    flex-direction: column;
    max-width: 320px;
    width: 320px;
    box-sizing: border-box;
    padding: 32px 24px 24px 24px;

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 0s 600000s, color 0s 600000s !important;
    }
}

.auth-form__header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    user-select: none;
}

.auth-form__title {
    margin: 0;
    padding: 0 0 24px;
}

.auth-form__body {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .ant-form-item {
        margin: 0;

        &.auth-form__submit-button {
            padding: 12px 0 0;
        }
    }

    .ant-input-affix-wrapper {
        border-radius: 2px;

        svg {
            fill: var(--base-text-color);
        }
    }

    .ant-input-status-error {
        svg {
            fill: var(--base-text-color);
        }
    }
}



.page-auth__change-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
