@use "../../../globals" as *;

.quest-card {
    .quest-card__name {
        margin: 0;
        color: var(--text-default);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & p {
        margin: 0;
    }

    &.ant-card-bordered .ant-card-cover {
        margin-top: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        user-select: none;
    }
}

.quest-card__anchor {
    display: flex;
    box-sizing: content-box;
    text-decoration: none;
    min-width: 0;

    .ant-card-cover {
        position: relative;
        //height: 128px;
    }

    .ant-card {
        width: 100%;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.016);
        border: 1px solid var(--stroke-secondary);
        background-color: var(--background-primary);
        border-radius: 8px;
        overflow: hidden;

        .ant-card-body {
            padding: 8px 12px 12px;
        }
    }

    .quest-card__start {
        font-size: 12px;
        font-weight: 400;
        color: var(--text-secondary);
    }

    .status__wrapper {
        display: flex;
        align-items: center;
        padding-top: 6px;
        gap: 6px;
    }
}

a.quest-card__anchor + div {
    display: contents;
}

.quest-card__wrapper {
    padding: 0 !important;
    border-radius: 16px;
    background: transparent;

    .ant-card:not(.ant-card-bordered) {
        box-shadow: none;
        background: transparent;
    }

    .ant-card {
        border-radius: 16px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;

        .ant-card-cover {
            position: relative;
            aspect-ratio: 4 / 3;
        }

        .ant-card-cover img {
            border-radius: 16px 16px 0 0;
        }

        .ant-card-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 24px 32px;
            background: var(--background-primary);
            border-radius: 0 0 16px 16px;
        }

        .ant-card-body:after, .ant-card-body:before {
            display: none;
        }
    }

    .quest-preview__information {
        display: flex;
        gap: 24px;
        padding-top: 12px;
        text-wrap: nowrap;

        .information__block {
            display: flex;
            gap: 8px;

            & img {
                align-self: center;
            }
        }
    }

    .quest-card__interactive {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 4px;

        & button {
            width: 240px;
        }

        & p {
            text-wrap: nowrap;
        }
    }
}

@media (max-width: 639px) {
    .quest-card {
        .quest-preview__information {
            flex-direction: column;
            gap: 4px;
            padding-top: 16px;
        }
    }

    .quest-card__wrapper .ant-card .ant-card-body {
        flex-direction: column;

        .quest-card__interactive {
            padding-top: 16px;

            & button {
                width: unset;
            }
        }
    }
}
