@use "../../../globals" as *;

.edit-quest__content-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 32px;

    .edit-quest__body__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }

    .content__separator {
        min-width: 1px;
        width: 1px;
        height: auto;
        background-color: var(--stroke-secondary);
    }
}

.edit-quest__content-wrapper section {
    width: calc((100% - 65px) / 2);
}

.edit-quest__header__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: $m-breakpoint-639) {
    .edit-quest__content-wrapper {
        gap: 16px;
    }
}
