.edit-quest__content-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 32px;

    .edit-quest__body__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }

    .content__separator {
        min-width: 1px;
        width: 1px;
        height: auto;
        background-color: #BFBFBF;
    }
}

.edit-quest__content-wrapper section {
    width: calc((100% - 65px) / 2);
}

.edit-quest__header__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ant-btn.return__button {
    color: var(--primary-color);
    display: flex;
    border: none;
    padding: 4px 15px 4px 0;
    gap: 10px;
    width: min-content;
    max-width: 100%;
    align-items: center;

    &.ant-btn >.anticon+span {
        margin-inline-start: 0;
    }

    &.ant-btn > span {
        display: inline-flex;
    }

    &.ant-btn > span:not(.anticon) {
        display: inline-block;
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 639px) {
    .edit-quest__content-wrapper {
        gap: 16px;
    }
}
