@use "../../../globals" as *;

.quest-page__all-teams-table .ant-table-content {
    column-count: 3;

    @media screen and (max-width: $l-breakpoint-959) {
        column-count: 2;
    }

    @media screen and (max-width: $s-breakpoint-525) {
        column-count: 1;
    }
}
