.quest-tabs .ant-tabs-content-holder {
    min-height: 250px;
}

.quest-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    text-shadow: none;
}

.ant-select-selection-item, .ant-select-arrow span {
    color: var(--primary-color);
}

.ant-select-open {
    width: min-content;
}

.quest-tabs__header {
    display: flex;
    width: 100%;
    padding: 0 0 4px;
    justify-content: space-between;
    border-bottom: 1px inset #f0f0f0;
}
