@use "../../globals" as *;

.quest-tabs {
    .ant-tabs-tabpane {
        display: grid;
        grid-template-columns: $grid-column-1280;
        justify-content: stretch;
        gap: 16px;
    }

    .ant-tabs-content-holder {
        min-height: 250px;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        text-shadow: none;
    }

    .ant-select-selection-item, .ant-select-arrow span {
        color: var(--text-blue);
    }

    .quest-tabpane {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 12px;
    }

    .create-quest__button {
        color: var(--text-blue);
    }

    &.ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
        overflow: unset;
    }

    .empty__quests-not-found {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 48px 0;
        grid-column: 1/5;
        color: var(--text-default);

        .ant-empty-image {
            font-size: 48px;
            opacity: 0.5;
            height: auto;
            margin: 0;
        }

        .ant-empty-description {
            color: var(--text-default);
        }
    }
}

.quest-tabs__unauth {
    .ant-tabs-ink-bar {
        display: none;
    }

    .ant-tabs-nav-wrap {
        pointer-events: none;
    }
}


.quest-tabs__header {
    display: flex;
    width: 100%;
    padding: 0 0 4px;
    justify-content: space-between;
    border-bottom: 1px solid var(--stroke-secondary);
}

@media (max-width: 1279px) {
    .quest-tabs .ant-tabs-tabpane {
        grid-template-columns: $grid-column-960;
    }

}

@media (max-width: 959px) {
    .quest-tabs .ant-tabs-tabpane {
        grid-template-columns: $grid-column-640;
    }
}
