@use "../../globals" as *;

.admin-page__content {
    display: contents;

    .task__wrapper {
        flex: 1;
    }
}

.quest-admin__content-wrapper {
    padding-top: 24px;

    .quest-admin__header__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &:has(.quest-admin__header__content > .quest-admin__extra-button) {
        @media screen and (max-width: $xm-breakpoint-799) {
            padding-bottom: 16px;
        }
    }
}

.quest-admin__header__content > .quest-admin__extra-button {
    display: none;
    margin-top: 8px;
}

.quest-admin__tabs.ant-tabs {
    .ant-tabs-nav {
        margin-bottom: 0;
    }
}

.quest-admin__upper-wrapper {
    display: flex;
    justify-content: space-between;

    .delete-quest__button.ant-btn {
        display: flex;
        align-items: center;
        gap: 10px;
    }


    .delete-quest__button.ant-btn .anticon+span {
        margin-inline-start: 0;
    }
}

@media screen and (max-width: $xm-breakpoint-799) {
    .delete-quest__button.ant-btn {
        gap: 8px;

        & span:not(.anticon) {
            display: none;
        }
    }

    .quest-admin__tabs .ant-tabs-extra-content {
        display: none;
    }

    .quest-admin__header__content .quest-admin__extra-button {
        display: block;
    }


}
