@use "globals" as *;

.edit-task__content {
    .edit-task__labels {
        width: 184px;
        color: var(--text-default);
    }

    .edit-task__image-form-item .ant-form-item-control-input-content {
        display: flex;
        gap: 16px;
        justify-content: space-between;
    }

    .edit-task__image {
        display: flex;
        margin: 0;
        gap: 8px;
        min-width: 0;
        order: -1;
        color: var(--text-default);
    }

    .edit-task__image p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        align-content: center;
    }

    .edit-task__image-validation-error {
        color: var(--text-red);
        margin: 0;
    }

    .ant-form-item-explain-error .edit-task__image-validation-error {
        padding: 5px 0 0;
    }

    .edit-task__hints-list, .edit-task__answers-list {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .ant-input-affix-wrapper {
            border-radius: 2px;
        }
    }

    .edit-task__add-button {
        padding: 4px 0;
    }

    .ant-input-suffix {
        color: var(--stroke-secondary);
        transition-behavior: normal;
        transition-delay: 0s;
        transition-duration: 0.2s;
        transition-property: all;
        transition-timing-function: ease;
    }

    .ant-input-affix-wrapper-readonly {
        &:hover, &:focus, &:focus-within {
            .ant-input-suffix {
                color: var(--text-blue);
            }
        }
    }

    .ant-input {
        border-radius: 2px;
    }


    .ant-form-item {
        margin: 0;
    }

    .ant-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .ant-modal-body {
        margin-bottom: 40px;
    }

    .ant-modal-footer {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding-top: 16px;
        border-top: 1px solid #D9D9D9;
    }
}

.ant-modal-root .ant-modal.edit-task__modal {
    margin: 0;
    max-width: 100%;
}
