@use "globals" as *;

.edit-task__content {
    .edit-task__labels {
        width: 184px;
        color: var(--text-default);
    }

    .edit-task__image-form-item .ant-form-item-control-input-content {
        display: flex;
        gap: 16px;
        justify-content: space-between;
    }

    .edit-task__image-form-item-new .ant-form-item-control-input-content {
        display: flex;
        gap: 16px;
        align-items: flex-end;
    }

    .edit-task__image {
        display: flex;
        margin: 0;
        gap: 8px;
        min-width: 0;
        order: -1;
        color: var(--text-default);
    }

    .edit-task__image p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        align-content: center;
        flex: 1;
    }

    .edit-task__image-validation-error, .edit-task__answers-error {
        color: var(--text-red);
        margin: 0;
    }

    .edit-task__drag {
        touch-action: pan-y;
        max-width: 100%;
    }

    .ant-form-item-explain-error .edit-task__image-validation-error {
        padding: 5px 0 0;
    }

    .edit-task__hints-list, .edit-task__answers-list {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .ant-input-affix-wrapper {
            border-radius: 2px;
        }
    }

    .edit-task__add-button {
        padding: 4px 0;
    }

    .edit-task__file-extensions {
        color: var(--text-secondary);
        padding: 0 0 6px;
        margin: 0;
    }

    .edit-task__delete-image-button {
        color: var(--icon-outlined-red);
        padding-left: 8px;
    }

    .ant-form-item-control-input-content .ant-upload-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .edit-task__add-file-button {
        padding: 4px 0;
    }

    .ant-input-suffix {
        color: var(--stroke-secondary);
        transition-behavior: normal;
        transition-delay: 0s;
        transition-duration: 0.2s;
        transition-property: all;
        transition-timing-function: ease;
    }

    .ant-input-affix-wrapper-readonly {
        &:hover, &:focus, &:focus-within {
            .ant-input-suffix {
                color: var(--text-blue);
            }
        }
    }

    .ant-input {
        border-radius: 2px;
    }


    .ant-form-item {
        margin: 0;
    }

    .ant-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .ant-modal-body {
        margin-bottom: 40px;
    }

    &.ant-modal-content .ant-modal-footer {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding-top: 16px;
        border-top: 1px solid var(--stroke-secondary);
    }

    .task-hint__wrapper {
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 4px;
        border-radius: 4px;
        background: var(--background-disabled);

        .task-hint__name {
            display: flex;
            flex-direction: row;
            gap: 4px;
            width: 100%;

            .ant-form-item {
                width: 100%;
            }
        }

        input, button, textarea {
            background: var(--background-primary) !important;
        }

        > .task-hint__form-item.ant-form-item:not(.ant-form-item:first-child) {
            margin: 0;
        }
    }
}

.ant-modal-root .ant-modal.edit-task__modal {
    margin: 0;
    max-width: 100%;
}
