@import "@/lib/utils/constants.css";

html,
body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}
