@font-face {
    font-family: 'Roboto Flex';
    src: url('../../lib/RobotoFlex.woff2') format('woff2-variations');
    /*src: url('../../lib/RobotoFlex.woff2') format('woff2') tech('variations');*/
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

:root {
    --background-color: #F5F5F5;
    --quit-color: #FF4D4F;
    --side-margins-16: 16px;
    --side-margins-24: 24px;
    --side-margins-32: 32px;
    --main-gap: 16px;
    --max-items-width: 1250px;

    /* font sizes */
    --large-font-size: 48px;
    --medium-font-size: 32px;
    --small-font-size: 24px;
}

html,
body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

.roboto-flex-header {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "slnt" 0,
            "wdth" 151,
            "GRAD" 0,
            "XOPQ" 96,
            "XTRA" 468,
            "YOPQ" 100,
            "YTAS" 750,
            "YTDE" -203,
            "YTFI" 738,
            "YTLC" 514,
            "YTUC" 712;
}
