@use "../../../../globals" as *;

.quest-editor__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .quest-editor__subheader {
        padding: 16px 0 0;
        font-size: 18px;
    }

    .description__label {
        display: flex;
        flex-wrap: wrap;
        white-space: pre;
        width: 168px;
    }

    .quest-editor__validation-error {
        color: var(--text-red);
        margin: 0;
    }

    .ant-form-item-explain-error .quest-editor__validation-error {
        padding: 5px 0 0;
    }

    .quest-editor__image-file {
        display: flex;
        margin: 0;
        gap: 8px;
        min-width: 0;
        order: -1;
        color: var(--text-default);
    }

    .quest-editor__image-file p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        align-content: center;
    }

    .ant-form-item:not(.quest-editor__controls) .ant-col.ant-form-item-control {
        max-width: calc(100% - 178px);
    }

    .quest-editor__image-form-item .ant-form-item-control-input-content {
            display: flex;
            gap: 16px;
            justify-content: space-between;
    }

    .quest-editor__access-form-item {
        .ant-radio-group {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .ant-radio-wrapper-in-form-item {
            margin: 5px 0 0;
        }

        .ant-radio-wrapper .ant-radio {
            margin: 3px 0 0;
            align-self: flex-start;
        }
    }

    .ant-form-item-control-input-content .ant-picker {
        width: 240px;
    }

    .ant-row {
        display: flex;
        justify-content: space-between;
    }

    .ant-form-item .ant-form-item-label {
        white-space: initial;

        & >label {
            width: 178px;
        }
    }

    .ant-form-item .ant-form-item-label label.ant-form-item-no-colon::after {
        content: '';
    }

    .ant-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .ant-form-item {
        margin: 0;
    }

    .ant-input-number-group .ant-input-number-group-addon {
        padding: 0;
        width: 32px;
        z-index: 1;

        &:hover {
            border-color: var(--ant-input-number-hover-border-color);
        }

        &:active {
            border-color: var(--ant-input-number-active-border-color);
        }
    }

    .ant-input-number-group .ant-input-number-group-addon span {
        width: 32px;
        height: 32px;
        justify-content: center;
        user-select: none;
    }

    .quest-editor__buttons {
        padding-top: 24px;
        padding-bottom: 16px;
        display: flex;
        gap: 8px;
        justify-content: center;
    }

    .ant-form-item-extra .light-description {
        margin-top: 4px;
    }
}

@media (max-width: $m-breakpoint-639) {
    .quest-editor__wrapper {
        .quest-editor__small-field.ant-form-item:not(.quest-editor__controls) {
            .ant-row {
                flex-wrap: nowrap;

                .ant-col.ant-form-item-label {
                    flex: 0 1 auto;
                    max-width: unset;

                    & >label {
                        width: unset;
                    }
                }

                .ant-col.ant-form-item-control {
                    max-width: calc(100% - 178px);
                }
            }
        }

        .ant-form-item.quest-editor__controls {
            .ant-row {
                flex-wrap: nowrap;

                .ant-col.ant-form-item-label {
                    flex: 0 1 auto;
                    max-width: unset;
                }
            }
        }

        .description__label {
            width: unset;
        }
    }
}

@media (max-width: $s-breakpoint-525) {
    .quest-editor__wrapper {
        .ant-form-item-control-input-content .ant-picker {
            width: 100%;
        }

        .ant-row {
            flex-direction: column;
        }

        .ant-row .ant-col.ant-form-item-control {
            max-width: 100% !important;
        }

        .ant-input-number-group-wrapper {
            width: 100% !important;
        }

        .quest-editor__buttons {
            flex-direction: column;
        }

        .ant-form-item-control-input-content {
            flex-direction: column;

            .ant-upload-select {
                display: flex;
            }

            .ant-upload-select > span {
                display: flex;
                width: 100%;
            }

            .ant-upload button {
                width: 100%;
            }
        }
    }
}
