@use "../../../globals" as *;

.empty__teams-not-found.ant-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    color: var(--text-default);

    .ant-empty-image {
        font-size: 48px;
        opacity: 0.5;
        height: auto;
        margin: 0;
    }

    .ant-empty-description {
        color: var(--text-default);
    }
}

.teams__content-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
}

.teams__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .approved-teams__wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .approved-teams__header {
        font-family: $font-manrope;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin: 0;
    }

    .requested-teams__wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .ant-collapse>.ant-collapse-item:not(.ant-collapse-item-active) {
        border-radius: 0;
        border-bottom: 1px solid var(--stroke-secondary);
        padding-bottom: 16px;
    }

    .ant-collapse>.ant-collapse-item >.ant-collapse-header
    {
        .ant-collapse-expand-icon span {
            font-size: 24px;
        }

        &.requested-teams__collapse-header {
            padding: 0;
            align-items: center;
            flex-wrap: wrap;
        }

        @media screen and (max-width: $m-breakpoint-639) {
            .ant-collapse-extra {
                width: 100%;
                padding: 8px 0 0;
            }
        }

        & .requested-teams__header {
            font-family: $font-manrope;
            padding: 0;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            margin: 0;
        }
    }

    .ant-collapse >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px 0 0;
    }

    .requested-team__extra {
        display: flex;
        gap: 8px;
    }
}



@media screen and (max-width: $xm-breakpoint-799) {
    .teams__wrapper {
        .approved-teams__header {
            font-size: 20px;
            line-height: 28px;
        }

        .ant-collapse > .ant-collapse-item > .ant-collapse-header {
            .ant-collapse-expand-icon span {
                font-size: 20px;
            }

            .requested-teams__header {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}
