@use "../../../globals" as *;

.play-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 800px;
    width: 100%;

    & input[type="text"] {
        font-size: 16px !important;
        line-height: normal;
    }
}


.play-page__tasks {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.play-page__content-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
}

.play-page__header__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.play-page__information {
    display: flex;
    column-gap: 24px;
    row-gap: 8px;
    flex-wrap: wrap;

    .information__block {
        display: flex;
        gap: 8px;
    }

    & span:not(.anticon) {
        font-size: 14px;
    }
}

.play-page__tasks .task__wrapper {
    width: 100%;
}

.before-start__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .before-start__text {
        font-size: 32px;
    }

    .before-start__countdown {
        font-size: 120px;
        line-height: 117%;
    }
}

@media screen and (max-width: $l-breakpoint-959) {
    .before-start__wrapper {
        .before-start__countdown {
            font-size: 100px;
        }
    }
}

@media screen and (max-width: $xm-breakpoint-799) {
    .before-start__wrapper {
        .before-start__text {
            font-size: 24px;
        }
        .before-start__countdown {
            font-size: 80px;
        }
    }
}

@media screen and (max-width: $m-breakpoint-639) {
    .before-start__wrapper {
        .before-start__countdown {
            font-size: 60px;
        }
    }
}

@media screen and (max-width: $s-breakpoint-525) {
    .before-start__wrapper {
        .before-start__countdown {
            font-size: 40px;
        }
    }
}
