@use "../../globals" as *;

.custom-modal, .img-crop-modal {
    .ant-modal-content {
        padding: 32px 32px 40px 32px !important;

        .ant-modal-close {
            width: 24px;
            height: 24px;

            & svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .ant-form-item {
        margin: 0;
    }

    .ant-form-item:not(.ant-form-item:first-child) {
        margin-top: 16px;
    }
}

@media (max-width: $m-breakpoint-639) {
    .ant-modal-root .ant-modal.custom-modal {
        margin: 0;
        max-width: unset;
    }
}
