@use "../../globals" as *;

.quest-page__content-wrapper {
    padding: 24px $side-margins-32;
    gap: 16px;
}

.quest-page__content {
    .line-break {
        white-space: pre-wrap;
        user-select: text;
    }
    & p {
        margin: 0;
    }

    & a:not(a:visited) {
        color: var(--primary-color);
    }
}

.results__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.results__table .ant-table-content {
    column-count: 2;
}

.results__content_waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    .anticon-clock-circle > svg{
        width: 112px;
        height: 112px;
        padding: 16px;
    }
}

.invite-link__wrapper {
    display: flex;
    padding: 16px 0 0;
    gap: 4px;
    align-items: baseline;

    .invite-link__link, .invite-link__text {
        border: none;
        height: auto;
        padding: 0;
        margin: 0;
        font-weight: 500;
    }

    .invite-link__link {
        max-width: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: var(--primary-color);
    }

    .invite-link__link span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.team__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ant-btn-text:not(:disabled):not(.ant-btn-disabled).exit-team__button:hover {
    background: var(--quit-color);
    transition: ease background-color .2s;

    & span {
        color: white;
        transition: ease color .2s;
    }

    & path {
        fill: white;
        transition: ease fill .2s;
    }
}

.content__wrapper.quest-page__admin-panel {
    background-color: #E6F7FF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 24px 17px 24px 32px;
    align-items: center;
    justify-content: space-between;

    & p {
        margin: 0;
    }
}

.quest-header {
    .quest-header__name {
        margin: 0;
        color: var(--secondary-text-color);
    }

    & p {
        margin: 0;
    }
}

.quest-header__wrapper {
    padding: 0 !important;
    border-radius: 16px;
    background: transparent;

    .ant-card:not(.ant-card-bordered) {
        box-shadow: none;
        background: transparent;
    }

    .ant-card {
        border-radius: 16px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;

        .ant-card-cover {
            background-color: white;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            overflow: hidden;
            border-radius: 16px 16px 0 0;
        }

        .ant-card-cover img {
            border-radius: 16px 16px 0 0;
        }

        .ant-card-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            column-gap: 24px;
            padding: 24px 32px;
            background: white;
            border-radius: 0 0 16px 16px;
        }

        .ant-card-body:after, .ant-card-body:before {
            display: none;
        }
    }

    .quest-preview__information {
        display: flex;
        gap: 24px;
        padding-top: 12px;
        text-wrap: nowrap;

        .information__block {
            display: flex;
            gap: 8px;

            & img {
                align-self: center;
            }
        }
    }

    .quest-header__interactive {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 4px;
        justify-content: flex-end;

        .ant-btn {
            transition: none;
        }

        & button {
            width: 240px;
        }

        & .already-have-team {
            border: 1px dashed #D9D9D9;
        }

        & p {
            text-wrap: nowrap;
        }
    }

    .quest-header__interactive button.already-have-team {
        color: $status-color-running;
    }

    .quest-header__interactive .already-have-team svg {
        fill: var(--green-color);
    }
}

.team__header button.ant-btn.ant-btn-text.exit-team__button.exit-team__large-screen {
    align-self: start;
    color: var(--quit-color);
}

.team__members {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;

    .team-member__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        font-weight: 500;
        width: 128px;
    }

    .team-member__name {
        word-break: break-word;
    }

    .team-member__captain::after {
        position: absolute;
        right: 0;
        content: "";
        width: 36px;
        height: 36px;
        background: rgb(250, 173, 20) url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.0848 6.52063L16.5238 9.33079L12.1504 3.49719C12.1328 3.47372 12.11 3.45466 12.0837 3.44153C12.0575 3.4284 12.0286 3.42157 11.9992 3.42157C11.9699 3.42157 11.9409 3.4284 11.9147 3.44153C11.8885 3.45466 11.8656 3.47372 11.848 3.49719L7.47695 9.33079L2.91367 6.52063C2.78008 6.4386 2.60664 6.54876 2.62773 6.70579L4.41836 20.3136C4.44414 20.4988 4.60351 20.6417 4.79336 20.6417H19.2098C19.3973 20.6417 19.559 20.5011 19.5824 20.3136L21.373 6.70579C21.3918 6.54876 21.2207 6.4386 21.0848 6.52063ZM12.0004 17.248C10.5449 17.248 9.36133 16.0644 9.36133 14.6089C9.36133 13.1535 10.5449 11.9699 12.0004 11.9699C13.4559 11.9699 14.6394 13.1535 14.6394 14.6089C14.6394 16.0644 13.4559 17.248 12.0004 17.248ZM12.0004 13.4769C11.377 13.4769 10.8707 13.9831 10.8707 14.6089C10.8707 15.2324 11.377 15.741 12.0004 15.741C12.6238 15.741 13.1301 15.2347 13.1301 14.6089C13.1301 13.9855 12.6238 13.4769 12.0004 13.4769Z' fill='white'/%3E%3C/svg%3E") no-repeat center;
        box-shadow: rgba(0, 0, 0, 0.15) 0 6px 8px 0;
        border-radius: 50%;
    }
}

.exit-team__small-screen {
    display: none !important;
}

@media (max-width: 959px) {
    .quest-page__admin-panel {
        padding: 24px 9px 24px 24px;
    }
}

@media (max-width: 799px) {
    .results__table .ant-table-content {
        column-count: 1;
    }

    .invite-link__wrapper {
        flex-direction: column;
    }

    .quest-page__admin-panel {
        padding: 24px;

        & button span {
            position: relative;
            left: -15px;
        }
    }

    .quest-header {
        .quest-preview__information {
            flex-direction: column;
            gap: 4px;
            padding-top: 16px;
        }
    }

    .quest-header__wrapper .ant-card .ant-card-body {
        flex-direction: column;

        .quest-header__interactive {
            padding-top: 16px;

            & button {
                width: 100%;
            }
        }
    }
}

@media (max-width: 639px) {
    .invite-link__wrapper {
        padding: 24px 0 0;
    }

    .exit-team__large-screen {
        display: none !important;
    }

    .exit-team__small-screen {
        display: unset !important;
    }

    .team__members {
        flex-direction: column;
        gap: 16px;
    }

    .team__members .team-member__wrapper {
        flex-direction: row;
        gap: 8px;
        text-align: start;
        align-items: center;
        width: unset;
        max-width: 80%;

        & img {
            width: 32px;
            height: 32px;
        }
    }

    .team__members .team-member__captain::after {
        position: relative;
        width: 16px;
        height: 16px;
        box-shadow: unset;
        background-size: 80%;
        flex-shrink: 0;
    }
}
