.quest-page__content-wrapper {
    padding: 24px var(--side-margins-32);
    gap: 16px;
}

.quest-page__content {
    .line-break {
        white-space: pre-wrap;
        user-select: text;
    }
    p {
        margin: 0;
    }
}

.results__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.results__content_waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    .anticon-clock-circle > svg{
        width: 112px;
        height: 112px;
        padding: 16px;
    }
}

.invite-link__wrapper {
    display: flex;
    padding: 16px 0 0;
    gap: 4px;
    align-items: baseline;

    .invite-link__link, .invite-link__text {
        border: none;
        height: auto;
        padding: 0;
        margin: 0;
        font-weight: 500;
    }

    .invite-link__link {
        font-size: 16px;
        color: var(--primary-color);
    }

}

.team__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ant-btn-text:not(:disabled):not(.ant-btn-disabled).exit-team__button:hover {
    background: var(--quit-color);
    transition: ease background-color .2s;

    span {
        color: white;
        transition: ease color .2s;
    }

    path {
        fill: white;
        transition: ease fill .2s;
    }
}

.content__wrapper.quest-page__admin-panel {
    background-color: #E6F7FF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 24px 17px 24px 32px;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0;
    }
}

@media (max-width: 959px) {
    .quest-page__admin-panel {
        padding: 24px 9px 24px 24px;
    }
}

@media (max-width: 799px) {
    .invite-link__wrapper {
        flex-direction: column;
    }

    .quest-page__admin-panel {
        padding: 24px;

        button span {
            position: relative;
            left: -15px;
        }
    }
}
