.quest-page__results, .quest-page__content {
    padding: 24px var(--side-margins-32);
    gap: 16px;
}

.quest-page__content {
    .line-break {
        white-space: pre-wrap;
    }
    p {
        margin: 0;
    }
}

.results__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.results__content_waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    .anticon-clock-circle > svg{
        width: 112px;
        height: 112px;
        padding: 16px;
    }
}
