@use "../../../../globals/index" as *;

.invite-modal__content {
    padding: 32px 32px 40px 32px !important;

    .ant-input-suffix {
        color: var(--stroke-secondary);
        transition-behavior: normal;
        transition-delay: 0s;
        transition-duration: 0.2s;
        transition-property: all;
        transition-timing-function: ease;
    }

    .ant-input-affix-wrapper-readonly {
        &:hover, &:focus, &:focus-within {
            .ant-input-suffix {
                color: var(--text-blue);
            }
        }
    }

    .custom-modal-header-large {
        margin-bottom: 16px;
        color: var(--text-green);
    }

    .ant-form-item {
        margin: 0;
    }

    .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .invite-content__span {
        font-size: 16px;
        color: var(--text-default);
    }
}

.ant-modal-root .ant-modal.invite-modal {
    margin: 0;
    max-width: unset;

    .roboto-flex-header {
        color: var(--text-green);
    }
}

.invite-link__wrapper {
    display: flex;
    padding: 0;
    gap: 4px;
    align-items: baseline;

    .invite-link__link, .invite-link__text {
        border: none;
        height: auto;
        padding: 0;
        margin: 0;
        font-weight: 500;
        color: var(--text-default);
    }

    .invite-link__link {
        max-width: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: var(--text-blue);
    }

    .invite-link__link span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 799px) {
    .invite-link__wrapper {
        flex-direction: column;
    }
}
