.background__wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.background__wrapper >img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.background_footer {
    height: inherit;
    width: 100%;
}

html[data-theme="dark"] {
    .background_footer, .background__wrapper {
        >img {
            content: url('/Questspace-Background-Dark.svg');
        }

    }
}
